body{
    background-color: #efefef;
}

.entry{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.entry_head{
    border-bottom: 3px solid #efefef;
    padding-bottom: 5px;
}

.entry_body{
    padding-top: 10px;
}

p{
    margin-bottom: 0px !important;
}

.extra{
    margin-top: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.tweets_neg{
    margin-bottom: 25px;
}