<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
        
<html lang="en">
    <head>
        <title>Sentiment Analysis</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}"></link>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h3>Twitter Sentiment Analysis</h3>
            <div class="row">
                <h4 class="col-sm-6">Average Sentiment for the Last {{time}} Minutes:</h4>
                <h4 class="col-sm-6">{{score}}</h4>
            </div>
            
            <h3 class="extra">Top 10 most positive in the last {{time}} minutes</h3>
            <div class="tweets"/>
                {% for entry in entries %}
                    <div class="entry">
                        <div class="row entry_head">
                            <div class="col-sm-6">
                                <p>{{entry.get("creation_date")}}</p>
                            </div>
                            <div class="col-sm-6">
                                <p>{{entry.get("sentiment")}}</p>
                            </div>
                        </div>
                        <div class="entry_body">
                            <p>{{entry.get("text")}}</p>
                        </div>
                    </div>
                {% else %}
                    <h4>Unbelievable.  No entries here so far</h4>
                {% endfor %}
            </div>
            
            <h3 class="extra">Top 10 most negative in the last {{time}} minutes</h3>
            <div class="tweets_neg"/>
                {% for entry in neg_entries %}
                    <div class="entry">
                        <div class="row entry_head">
                            <div class="col-sm-6">
                                <p>{{entry.get("creation_date")}}</p>
                            </div>
                            <div class="col-sm-6">
                                <p>{{entry.get("sentiment")}}</p>
                            </div>
                        </div>
                        <div class="entry_body">
                            <p>{{entry.get("text")}}</p>
                        </div>
                    </div>
                {% else %}
                    <h4>Unbelievable.  No entries here so far</h4>
                {% endfor %}
            </div>
        </div>
        
    </body>
</html>